In [1]:
import scipy
from scipy.optimize import least_squares

# Test point is 2000, 2000, -100, 0

x1, y1, z1, dist_1 = ( 1000.0, 1000.0, -833 ,1602)
x2, y2, z2, dist_2 = ( 1000.0, 2000.0, -773 ,1216)
x3, y3, z3, dist_3 = ( 1000.0, 3000.0, -616 ,1512)
x4, y4, z4, dist_4 = ( 2000.0, 1000.0, -366 ,1026)
x5, y5, z5, dist_5 = ( 2000.0, 2000.0, -799,705)
x6, y6, z6, dist_6 = ( 2000.0, 3000.0, -386 ,1050)
x7, y7, z7, dist_7 = ( 3000.0, 1000.0, -624,1505)
x8, y8, z8, dist_8 = ( 3000.0, 2000.0, -714 ,1175)
x9, y9, z9, dist_9 = ( 3000.0, 3000.0, -572 ,1504)


s1 = 1535


#Define a function that evaluates the equations
def equations( guess ):
    x, y, z, r = guess
    
 
    return (
        (x - x1)**2 + (y - y1)**2 + (z - z1)**2 - (dist_1 - r )**2,
        (x - x2)**2 + (y - y2)**2 + (z - z2)**2 - (dist_2 - r )**2,
        (x - x3)**2 + (y - y3)**2 + (z - z3)**2 - (dist_3 - r )**2,
        (x - x4)**2 + (y - y4)**2 + (z - z4)**2 - (dist_4 - r )**2,
        (x - x5)**2 + (y - y5)**2 + (z - z5)**2 - (dist_5 - r )**2,
        (x - x6)**2 + (y - y6)**2 + (z - z6)**2 - (dist_6 - r )**2,
        (x - x7)**2 + (y - y7)**2 + (z - z7)**2 - (dist_7 - r )**2,
        (x - x8)**2 + (y - y8)**2 + (z - z8)**2 - (dist_8 - r )**2,
        (x - x9)**2 + (y - y9)**2 + (z - z9)**2 - (dist_9 - r )**2
    )
        


# Make SciPy solve the system using an initial guess.
# The initial guess affects which of the "candidates" SciPy finds.
initial_guess = (1000, 1000, -100, 0)

#equations( initial_guess )
results = least_squares(equations, initial_guess)

results

 active_mask: array([0., 0., 0., 0.])
        cost: 560510320.5721085
         fun: array([-17773.98076037,  -3051.15422548,  14861.73043898,  12966.50838412,
         6985.62716503,   2311.65632953,   5012.11925117,   6095.35577034,
       -17040.47805727])
        grad: array([   2.72018811,    1.97675005,  -46.0926277 , -351.37378233])
         jac: array([[ 2005.86507774,  1986.1609892 ,  1484.15410055,  3200.33322531],
       [ 2005.86507774,   -13.83902035,  1364.15407756,  2428.33109372],
       [ 2005.86507774, -2013.83901422,  1050.15417779,  3020.32044885],
       [    5.86507994,  1986.1609892 ,   550.15413927,  2048.34011541],
       [    5.86507799,   -13.83901447,  1416.15417917,  1406.33489744],
       [    5.86507994, -2013.83901422,   590.15420422,  2096.33556585],
       [-1994.13491787,  1986.1609892 ,  1066.15434125,  3006.33953611],
       [-1994.13492567,   -13.83901251,  1246.15420388,  2346.32963052],
       [-1994.13493347, -2013.83901422,   962.15413801,  3004.34469856]])
     message: '`ftol` termination condition is satisfied.'
        nfev: 6
        njev: 6
  optimality: 351.3737823292613
      status: 2
     success: True
           x: array([ 2.00293252e+03,  1.99308048e+03, -9.09228996e+01,  1.83285601e+00])

In [2]:
results.x

array([ 2.00293252e+03,  1.99308048e+03, -9.09228996e+01,  1.83285601e+00])

In [3]:
#covar = (J^T J)^{-1}
import numpy as np
J = results.jac
JT = results.jac.transpose()

In [4]:
import pandas as pd


cov_matrix = pd.DataFrame((JT.dot(J))**-1)
cov_matrix

              0             1             2             3
0  4.166613e-08 -1.368951e-03  7.662466e-07  1.396179e-06
1 -1.368951e-03  4.166367e-08  1.160962e-06 -2.265394e-05
2  7.662466e-07  1.160962e-06  8.742616e-08  4.063453e-08
3  1.396179e-06 -2.265394e-05  4.063453e-08  1.683536e-08

In [5]:
cov_mat_xy = cov_matrix.drop([2,3], 1)
cov_mat_xy = cov_mat_xy.drop([2,3], 0)
cov_mat_xy

#http://www.visiondummy.com/2014/04/draw-error-ellipse-representing-covariance-matrix/

              0             1
0  4.166613e-08 -1.368951e-03
1 -1.368951e-03  4.166367e-08

In [6]:
from numpy import linalg as LA

LA.eig(cov_mat_xy)

(array([ 0.00136899, -0.00136891]), array([[ 0.70710678,  0.70710678],
        [-0.70710678,  0.70710678]]))